<div class="card">
    <h5 class="card-header card-header-color">User Registration</h5>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewtab">
            <li ngbNavItem="addtab">
                <a ngbNavLink>Add User</a>
                <ng-template ngbNavContent>
                    <form action="" [formGroup]="addForm" (ngSubmit)="register()" class="mt-4">

                        <div class="row mb-3">
                            <div class="form-group col">
                                <label>Title</label>
                                <select class="form-control" formControlName="title"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['title'].errors }">
                                    <option value="">--Select Title--</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['title'].errors">
                                    <div *ngIf="ctrl['title'].errors['required']">
                                        Title is required !!
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-5">
                                <label>First Name</label>
                                <input type="text" class="form-control" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['firstName'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['firstName'].errors">
                                    <div *ngIf="ctrl['firstName'].errors['required']">
                                        First Name is required !!
                                    </div>
                                    <div *ngIf="ctrl['firstName'].errors['minlength']">
                                        First Name should be min 3 char long !!
                                    </div>
                                    <div *ngIf="ctrl['firstName'].errors['maxlength']">
                                        First Name should be max 10 char long !!
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-5">
                                <label>Last Name</label>
                                <input type="text" class="form-control" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['lastName'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['lastName'].errors">
                                    <div *ngIf="ctrl['lastName'].errors['required']">
                                        Last Name is required !!
                                    </div>
                                    <div *ngIf="ctrl['lastName'].errors['minlength']">
                                        Last Name should be min 3 char long !!
                                    </div>
                                    <div *ngIf="ctrl['lastName'].errors['maxlength']">
                                        Last Name should be max 10 char long !!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col-5">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control" formControlName="dob"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['dob'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['dob'].errors">
                                    <div *ngIf="ctrl['dob'].errors['required']">
                                        Date of Birth is required !!
                                    </div>
                                    <div *ngIf="ctrl['dob'].errors['pattern']">
                                        Date of Birth must be a valid date in the format YYYY-MM-dd !!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-5">
                                <label>Email</label>
                                <input type="text" class="form-control" formControlName="email"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['email'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['email'].errors">
                                    <div *ngIf="ctrl['email'].errors['required']">
                                        Email is required !!
                                    </div>
                                    <div *ngIf="ctrl['email'].errors['email']">
                                        Email must be a valid email address !!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col-5">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['password'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['password'].errors">
                                    <div *ngIf="ctrl['password'].errors['required']">
                                        Password is required !!
                                    </div>
                                    <div *ngIf="ctrl['password'].errors['minlength']">
                                        Password must be atleast 6 char long !!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-5">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['confirmPassword'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['confirmPassword'].errors">
                                    <div *ngIf="ctrl['confirmPassword'].errors['required']">
                                        Confirm Password is required !!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col form-check">
                                <input type="checkbox" class="form-check-input" formControlName="acceptTerms"
                                    id="acceptTerms"
                                    [ngClass]="{ 'is-invalid' : submitted && ctrl['acceptTerms'].errors }">
                                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['acceptTerms'].errors">
                                    <div *ngIf="ctrl['acceptTerms'].errors['required']">
                                        Accept Terms & Conditions is required !!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success me-1">Save</button>
                                <button type="button" class="btn btn-danger" (click)="resetForm()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li ngbNavItem="viewtab">
                <a ngbNavLink>Users List</a>
                <ng-template ngbNavContent>
                    <div class="form-row">
                        <div class="form-group col">
                            <table class="table table-success table-striped table-bordered mt-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>DOB</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of users">
                                        <td>{{ data.title }}</td>
                                        <td>{{ data.firstName }}</td>
                                        <td>{{ data.lastName }}</td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.dob }}</td>
                                        <td>
                                            <i class="fa fa-edit me-2 text-success" (click)="onEdit()"></i>
                                            <i class="fa fa-trash-o text-danger" (click)="onDelete()"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
